.container {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
  background-image: linear-gradient(34deg, #115bca, #7186d4, #a6b4d7, #dbe8eb);
  top: 0 !important;
  -webkit-box-shadow: 0px 9px 9px -2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 9px 9px -2px rgba(0, 0, 0, 0.8);
}
.iconContainer img {
  width: 60px;
  position: absolute;
}
.iconContainer span {
  position: relative;
  top: 0px;
  left: 45px;
  background-color: #2980b9;
  border-radius: 50%;
  padding: 5px 10px;
  color: white;
}
.navBtn {
  text-decoration: underline;
  color: #48dbfb;
  margin-top: 20px;
  font-size: 20px;
}
.active {
  text-decoration: underline;
  color: #3af107;
  margin-top: 20px;
  font-size: 20px;
}
