.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 14%; */
    background-color: rgb(237, 237, 237);
}
.productContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 130px;
  width: 70%;
}
